*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}
body{
    overflow: hidden;
}
/* #first{
    background-image: url(assets/cards/5.jpg);
    width: 47%;
    height: 21.5rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: auto;
}
#second{
    background-image: url(assets/cards/6.jpg);
    width: 47%;
    height: 21.5rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: auto;
} */
.srv-icon #icon-1:hover{
    color: #D0BAA5;
    cursor: pointer;
    transition: 0.4s;
}
#btn{
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 1000;
    border: none;
    background-color: #D0BAA5;
    padding: 15px;
}
#btn i{
    font-size: 1.5rem;
    color: white;
}
#btn:hover{
    background-color: black;
    transition: 0.4s;
}
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    /* change if the mask should have another color then white */
    z-index: 99;
    /* makes sure it stays on top */
  }
  
  #status {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    /* centers the loading animation horizontally one the screen */
    top: 50%;
    /* centers the loading animation vertically one the screen */
    background-image: url(https://raw.githubusercontent.com/niklausgerber/PreLoadMe/master/img/status.gif);
    /* path to your loading animation */
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
    /* is width and height divided by two */
  }
